/*styling of logo */
#logo {
  height: 80px;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  animation: rotation 20s infinite linear;
}

.image-container {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: 5%;

  z-index: 9999; /* Ensure it's on top of everything */
}

#details {
  font-size: 35px;
  font-weight: bold;
  padding: 0 10vw;
}

#glyphset ul {
  display: flex;
  flex-flow: row wrap;
}

#glyphset li {
  list-style: none;
  width: 1.5em;
  height: 1.5em;

  /* border: solid black 1px; */
  text-align: center;
  vertical-align: middle;
}

#downloadLink.disabled {
  opacity: 0.5;
  pointer-events: none;
}

footer {
  background-color: #ff8e55;
  margin-top: 20px;
  height: 200px;
  line-height: 16px;
  text-align: right;
  padding: 10px 0 20px 0;
}
#footer-title {
  padding-right: 40px;
  font-size: 29px;
}
footer > u {
  text-decoration: underline 2px solid black;
}
footer > li {
  padding-right: 40px;
  font-size: 19px;
  line-height: 14px;
}
#link-footer {
  margin-bottom: 20px;
}

/* Styles fixing */
.image-container {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: 5%;

  z-index: 9999; /* Ensure it's on top of everything */
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}
