#main {
  padding-bottom: 4rem;
}

#details {
  font-size: 35px;
  font-weight: bold;
}

#glyphset ul {
  font-family: var(--localfont);
  display: flex;
  flex-flow: row wrap;
}

#glyphset li {
  list-style: none;
  width: 1.5em;
  height: 1.5em;

  border: solid black 1px;
  text-align: center;
  vertical-align: middle;
}

.locale-font {
  font-family: "locale";
}

#downloadLink.disabled {
  opacity: 0.5;
  pointer-events: none;
}


footer{
  background-color: #ff8e55;
  margin-top: 20px;
  height: 200px;
  line-height: 16px;
  text-align: right;
  padding: 10px 0 20px 0;
}
#footer-title{
  padding-right: 40px;
  font-size: 29px;
}
footer>u{
  text-decoration: underline 2px solid black;
}
footer>li{
  padding-right: 40px;
  font-size: 19px;
  line-height: 14px;
}
#link-footer{
  margin-bottom: 20px;
}