body {
  font-family: "L10", sans-serif;
  background: rgb(245, 245, 245);
  /* remove browser font-smoothing */
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smooth: never;
}

body {
  margin: 0;
  padding: 0;
}
/* Importer les fontes */
@font-face {
    font-family: "Karrik";
    src: url(../../fonts/Karrik-Regular.ttf);
}
@font-face {
    font-family: "L10";
    src: url(../../fonts/L10-Regular.ttf);
}
    @font-face {
      font-family: "L10-italic";
      src: url(../../fonts/L10-RegularItalic.ttf);
}
@font-face {
    font-family: "insolente";
    src: url(../../fonts/Insolente-Regular.ttf);
}

#editableText{
  font-family: insolente;
}

/* a:link, a:visited{
    text-decoration: none;
} */
a,a:hover{
  text-decoration: underline 1.5px solid black;
  text-underline-offset: 6px;
}
/* logo and logo animation*/
/* 
@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
} */
/*styling of logo */
#logo {
  height: 80px;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  animation: rotation 20s infinite linear;
}

.image-container {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: 5%;

  z-index: 9999; /* Ensure it's on top of everything */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/***************** header, responsive hamburger menu *******************/
a {
  color: #000;
}

/* header */
header{
  background-color: white;
  border-bottom: 1px solid black;
  position: sticky;
  width: 100%;
  z-index: 100;
  /* padding-bottom: 60px; */
}
#white-bkgd{
  color:white;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  font-size: 18px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */@media screen and (min-width: 768px) {
  /* Override the padding-bottom to 60px for larger screens */
  header {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
 
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
/***************************now everything in order of appearance ********************/

h2{
  font-size: 27px;
  text-align: center;
  line-height: 45px;
  padding: 25px 25px 0 25px;
}
h3{
  font-size: 25px;
  padding-left: 6vw;
  margin: 10px;
  /*text-align: center;*/
  text-decoration: underline solid 1px black;
  text-underline-offset: 6px;
}
@media(max-width: 768px){
  h2{
    font-size:22px;
    line-height: 35px;
  }
  h3{
    font-size: 24px;
  }
}
button{
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-family: inherit;
}
#font-name{
  font-size: 35px;
  text-align: center;
  padding-left: none;
  font-family: insolente;
  
  /* padding-top: 100px; */
}
#container-titre{
  text-align: center;
}
.tags{
  background: none;
  border-radius: 25px;
  font: inherit;
	cursor: pointer;
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
  color: inherit;
  margin-bottom: 25px;
}
.tags.active,.tags:hover, .tags:focus,.tags:visited {
  background-color: #ffe8e8;
}
#contact{
  text-align: center;
  font-size: 21px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.editabletxt{
  font-family: Zenith;
  font-size: 86px;
  text-align: center;

  min-width: 90vw;
  max-height: 50vh;
  padding-top: 20 px;
  padding: 10px;
  padding-bottom: 20 px;
  border-bottom: 1px solid black;

  margin: auto;
  overflow: hidden;
}

[contenteditable] {
outline: 0px solid transparent;}


#editable-container{
  border-top: 1px solid black;
  padding-bottom: 40px;
}

/*font slider*/


/*CSS responsive layout for font settings*/

.setting-flex {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;;
}

.flex{
  padding: 20px;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  flex: 1; /* Equal width for all boxes */
  margin: 5px; /* Added margin for spacing between boxes */
}


/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
  .flex {
      flex: 100%; /* Full width for each box on smaller screens */
  }
}

/* Selecting text styles */
::selection {
  background-color: black;
  color: white;
}


input[type="range"] {
  width:400px;
}
/* style drop down menu to pick fonts*/

#font-dropdown, #font-dropdown option{
  min-width: 300px;
  font-family: inherit;
}
/*styling of dropdown menu and lil arrow*/
.container {
  text-align: center;
}

/* Remove default styling of the dropdown */
.custom-dropdown-container {
  position: relative;
  display: inline-block;
  font-family: inherit;
  
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  font-size: 16px;
  width: 400px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: transparent;
  cursor: pointer;
  font-family: inherit;
  z-index: 1; /* Ensure the select element is above the icon */
}

/* Style the dropdown arrow */
.dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: black;
  font-size: 14px;
}

/* Additional styles for the dropdown icon */
select + .dropdown-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
  font-size: 14px;
}

/* */
.slider {
  width: 400px;
  margin-top: 10px;
  /* Customize the appearance of the slider track */
  appearance: none;
  height: 1px;
  background-color: black;
  outline: none;
  border: none;
  cursor: pointer;
}
label, #fontSizeDisplay{
  font-size: 15px;
}

#fontSlider::-webkit-slider-thumb {
  /* Customize the appearance of the slider thumb for webkit browsers (Chrome, Safari) */
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px; /* Align the thumb with the slider track */
}

#fontSizeDisplay {
  font-family: inherit;
  font-weight: bold;
}


#processus-description{
  max-width: 800px;
  padding-left: 10vw;
  padding-right: 5vw;
  padding-top: 20px;

  font-size: 25px;
  line-height: 30px;
}
/****************** image section **************************/
#imageSection{
text-align: center;
padding-bottom: 20px;
}
#imageSection>img{
  width:90%;
  max-width: 1000px;
  margin: 10px;
}
/******************************** glyphset ********************************/
 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  background-color: #F4F4F4;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .collapsible:hover {
  background-color: #dfdfdf;
} */



#button{
  border-top: solid 1px black;
/*   padding-bottom: 20px; */
/*   border-bottom: solid 1px black; */
}

#container-en-usage, #container-img{
  height: 400px;
  background-color: #EAEAEA;
 
}
#container-img{
  margin-bottom: 20px;

}
#container-img>*{
  width: 100%;

}
/*collapsible download page*/

/* Style the collapsible content. Note: hidden by default */
.content{
  display: none;
  overflow: hidden;
/*   border-radius: 25px;
  background-color: #e7e7e7; 
  border: 1px solid black; */
  padding: 30px;
  min-width: 350px;
  max-width: 800px;
  margin: auto;
  display: none;
  overflow: hidden;
}

.collapsible.active + .content {
  display: block; /* Display content when active */
  animation: slideDown 0.5s ease-in-out forwards; /* Apply slide-down animation */
}

.collapsible:not(.active) + .content {
  animation: slideUp 0.5s ease-in-out forwards; /* Apply slide-up animation */
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 500px;
    opacity: 1;
  }
}

.content>p{
  line-height: 40px;
zdetails{
margin-bottom: 40px;
border-top: 1px solid black;

}

#links{
  text-align: center;
  font-size: 24px;
}
.links{
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
text-decoration: underline 1px solid black;
  font-size: inherit;
}

.specimen{
  margin-bottom: 20px;
}
#dl-container{
  border: 1px solid black;
}
#agreeCheckbox{
  cursor: pointer;
}

.dl-container>*{
  padding: 30px;
}
#downloadButton{
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 20px;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

#downloadButton:hover{
  text-decoration: underline 1px solid black;
  text-underline-offset: 6px;
}
u{
  text-underline-offset: 6px;
}

footer{
  background-color: #ff8e55;
  margin-top: 20px;
  height: 200px;
  line-height: 16px;
  text-align: right;
  padding: 10px 0 20px 0;
}
#footer-title{
  padding-right: 40px;
  font-size: 29px;
}
footer>u{
  text-decoration: underline 2px solid black;
}
footer>li{
  padding-right: 40px;
  font-size: 19px;
  line-height: 14px;
}
#link-footer{
  margin-bottom: 20px;
}