body {
  font-family: "L10", sans-serif;
  background: rgb(245, 245, 245);
  /* remove browser font-smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
  margin: 0;
  padding: 0;
}

/* Importer les fontes */
@font-face {
  font-family: "L10";
  src: url(../../v3/fonts/L10-Regular.ttf);
}
@font-face {
  font-family: "L10-italic";
  src: url(../../v3/fonts/L10-RegularItalic.ttf);
}
a,
a:hover {
  text-decoration: underline 1px solid black;
  text-underline-offset: 6px;
}

#logo {
  height: 80px;
  z-index: 1000;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 10px;
  animation: rotation 20s infinite linear;
}

.image-container {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: 5%;
  z-index: 9999; /* Ensure it's on top of everything */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/********************************** header ***********************************/
a {
  color: #000;
}

/* header */
header {
  /* position: sticky; */
  top: 0;
  background: rgb(245, 245, 245);
  /*   border-bottom: 1px solid black; */

  width: 100%;
  height: 50px;
  z-index: 100;
  font-size: 22px;
  text-decoration: none;
  text-align: right;
  /* padding-bottom: 60px; */
}
#menu {
  margin-right: 30px;
}
li {
  padding: 0 10px 0 10px;
  display: inline-block;
  list-style: none;
  text-decoration: none;
}
li > a {
  text-decoration: none;
}

@media (max-width: 768px) {
  header {
    /* text-align: center; */
  }
  li {
    padding: 0 7px 0 7px;
  }
  #menu {
    margin-right: 0px;
  }
  .grid-left,
  .grid-right,
  #cute > p {
    font-size: 20px;
  }
}
/************************ Licences ************************/

h1,
#txt {
  text-align: center;
}
#txt {
  font-size: 20px;
  padding-bottom: 20px;
}
.grid-container {
  display: grid;
  position: sticky;
  top: 0;
  background-color: rgba(255, 227, 85, 0.97);
  filter: drop-shadow(0 -10px 10px rgba(0, 0, 0, 0.282));
  font-size: 20px;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto; /* Automatically size rows based on content */
  padding: 2vh 5vw;
  margin: 0; /* Ensure no margin */
}

.licence-name {
  grid-column: 1 / -1; /* Span the full width of the container */
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  text-align: center;
  font-size: 30px;
  padding-top: 17px;
  padding-bottom: 10px;
}

.grid-left {
  text-align: right;
  padding-right: 20px;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
}

.grid-right {
  margin: 0; /* Ensure no margin */
  padding: 20px; /* Ensure no padding */
}
.grid-left,
.grid-right {
  padding: 20px;
  font-size: 22px;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr; /* Change to single column */
    grid-template-rows: auto; /* Adjust rows to auto height */
    position: relative;
    font-size: 24px;
  }
  .grid-left,
  .grid-right {
    grid-column: 1 / -1; /* Make each item take the full width */
    text-align: left; /* Optional: adjust text alignment if needed */
    padding: 12px; /* Reset padding */
  }
  .grid-left {
    text-align: center;
  }
}

/* Custom arrow as list point */
.grid-right ul {
  list-style: none; /* Remove default bullet points */
  padding-left: 10px; /* Adjust as needed */
}

.grid-right ul li {
  /*  margin-bottom: 10px; */ /* Adjust as needed for spacing between list items */
  position: relative; /* Position relative to use ::before */
  padding-left: 30px; /* Space for the arrow */
}

.grid-right ul li::before {
  content: "\2192"; /* Unicode for right-pointing arrow */
  position: absolute;
  left: 0;
  top: 0;
  font-size: inherit; /* Inherit font size from parent */
  line-height: inherit; /* Ensure line height matches text */
}

#cute > p {
  grid-column: 1 / -1;
}

ul {
  padding: 0;
  margin: 0;
}

#info {
  height: 450px;
  /* background: rgb(245, 245, 245); */
  background-image: url("../licence1.png");
  background-size: auto;
  max-width: 100%;
}
#info > p {
  text-align: center;
}

/* #info>img{
  width: 100%;
} */
#sil {
  background-color: rgb(96, 221, 163);
}
#ccbyncsa {
  background-color: rgb(212, 255, 127);
}
#tdr {
  background-color: rgb(195, 127, 255);
}
#cute {
  background-color: rgb(50, 193, 241);
}
/************************ footer************************/

#upButton {
  display: none;
  position: fixed;
  text-align: center;
  bottom: 20px;
  right: 30px;
  z-index: 999999;
  font-family: inherit;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  /* padding: 15px; */
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
@media (max-width: 768px) {
  #upButton {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    width: 40px; /* 20% smaller */
    height: 40px; /* 20% smaller */
    font-size: 20px; /* Adjust font size if necessary */
  }
}

footer {
  /*   background-color: rgba(255, 227, 85, 0.97); */
  background-color: rgba(255, 227, 85, 0.97);
  filter: drop-shadow(0 -10px 10px rgba(0, 0, 0, 0.282));
  /*   border-top: 1px solid black; */
  /*   margin-top: 80px; */
  height: 10px;
  width: 100vw;
  line-height: 16px;
  text-align: right;
  /* padding: 10px 0 20px 0; */
}

