<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Typotes Club</title>

</head>
<body>

    <!-------------------------------------------- landing page ------------------------------------------------>
<section id="fixed">
    <header>
        <div class="image-container">
            <a href="index.html"><img id="logo" src="logo.svg"></a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a target="_blank" href="https://lacambretypo.be/fr">La Cambre Typo</a></li>
            <li><a href="#fontes">Fontes</a></li>
            <li><a href="licences/index.html">Licences</a></li>
            <li><a href="#apropos">À Propos</a></li>
        </ul>
    </header>
</section>


    
     <!-------------------------------------------- fontes ------------------------------------------------>
<section id="fontes">
    <div class="filter-flex">
        <div class="custom-select select1">
        <select>
            <option value="0">Plus récent</option>
            <option value="1">Plus ancien</option>
            <option value="2">A-Z</option>
            <option value="3">Z-A</option>
        </select>
        </div>
    
        <div class="custom-select select2">
            <select>
            <option value="0">Filtres</option>
            <option value="1">1 style</option>
            <option value="2" >Plusieurs styles</option>
            <option value="3" class="border">variable</option>
    
            <option value="4">Serif</option>
            <option value="5">Sans serif</option>
            <option value="6">Mono</option>
            <option value="7" class="border">Slab</option>
    
            <option value="8">Minuscules</option>
            <option value="9">Majuscules</option>
            <option value="10">Caractères spéciaux</option>
            <option value="11">Glyphes inclusifs (QUNI)</option>
            </select>
        </div>
    
        <div class="custom-select select3">
            <select>
            <option value="0">Projets</option>
            <option value="1">Fonte variable B3</option>
            <option value="3">Gothique revival</option>
            <option value="4">Infini moins 62</option>
            </select>
        </div>
    </div>
  

    <div class="font-list" class="sticky" id="no-shadow">
        <div class="fontflex">
            <a href="fontes/insolente-download/index.html"><div class="font-name">Insolente</div></a>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
            <div class="font-designer">Marie Godefroy</div>
        </div>
   <!--      <div class="fontflex2" id="fontButtons">
            
        </div> -->
        
        <a href="fontes/insolente-download/index.html">
            <!-- <div class="shadow"></div> -->
        <p id="insolente" id="idname1" class="editabletxt" >révolution&nbsp;queer! révolution&nbsp;queer</p>
       
        </a>
    </div>

    <div class="font-list" class="sticky">
        <div class="fontflex">
            <a href="fontes/aerobik/index.html"><div class="font-name">Aerobik</div></a>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
            <div class="font-designer">Astride Etienne</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
                
            </div>
        </div>
        <a href="fontes/aerobik/index.html">
        <p id="aerobik" id="idname1" class="editabletxt" >Aerobik, Waltz, Boxe, Kajukenbo et Mokomoko</p>
        </a>
    </div>




    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/ouvrieres/index.html"><div class="font-name">Ouvrières</div></a>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith1'">Affamées</button>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Normales</button>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith5'">Rassasiées</button>
            <div class="font-designer">Laure Azizi</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
                
            </div>
        </div>
        
        <a href="fontes/ouvrieres/index.html">
        <p id="ouvrieres" id="idname1" class="editabletxt" >ouvrières&nbsp;fourmilières</p>
        </a>
        
    </div>
    
    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/wildflower/index.html"><div class="font-name">Wildflower</div></a>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith1'">Light</button>
                <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
                <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith5'">Bold</button>
            <div class="font-designer">Clara Bougon</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
                
            </div>
        </div>
        <a href="fontes/wildflower/index.html">
        <p id="wildflower" id="idname1" class="editabletxt" >Let&nbsp;us&nbsp;propagate, please! Let us propagate, please! </p>
        </a>
    </div>

    

   
    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/woven/index.html"><div class="font-name">Woven</div></a>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith1'">Light</button>
                <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
                <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith5'">Bold</button>
            <div class="font-designer">Anna Le Bec</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
                
            </div>
        </div>
        <a href="fontes/woven/index.html">
        <p id="woven" id="idname1" class="editabletxt" >cordes&nbsp;textiles&nbsp;soie</p>
        </a>
    </div>


    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/zenith/index.html"><div class="font-name">Zénith</div></a>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith1'">Light</button>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith5'">Bold</button>
            <div class="font-designer">Adrien Gantner</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
            </div>
        </div>
        <a href="fontes/zenith/index.html">
        <p id="zenith" id="idname1" class="editabletxt" >Pénombre&nbsp;et&nbsp;crépuscule</p>
        </a>
    </div>

    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/banana/index.html"><div class="font-name">Banana Single Line</div></a>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
            <div class="font-designer">Clara Bougon</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
            </div>
        </div>
        <a href="fontes/banana/index.html">
        <p id="banana" id="idname1" class="editabletxt" >Let us propagate, please! Let us propagate, please! </p>
        </a>
    </div>
    <div class="font-list sticky variableHover" >
        <div class="fontflex">
            <a href="fontes/ouvrieres/index.html"><div class="font-name">Osvwald</div></a> <p id="variableButton">variable</p>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
            <div class="font-designer">Prénom Nom</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">  
            </div>
        </div>
        <a href="fontes/oswaldd/index.html">
        <p id="oswald" id="variableTxt" id="idname1" class="editabletxt" >xerox, fax, scanner</p>
        </a>
    </div>


    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/calice/index.html"><div class="font-name">Calice</div></a>
            <button type="button" class="weightbutton" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith1'">Sans</button>
                <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Serif</button>
            <div class="font-designer">Adrien Gantner</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
            </div>
        </div>
        <a href="fontes/calice/index.html">
        <p id="calice" id="idname1" class="editabletxt" >hémisphère&nbsp;cylindre</p>
        </a>
    </div>

    <div class="font-list" class="sticky" >
        <div class="fontflex">
            <a href="fontes/superformula/index.html"><div class="font-name">Superformula Mono</div></a>
            <button type="button" class="weightbutton weightbutton-active" onclick="document.getElementById('idname1').style.fontFamily = 'Zenith3'">Regular</button>
            <div class="font-designer">Jérémie Claes</div>
        </div>
        <div class="fontflex2">
            <div id="fontButtons">
            </div>
        </div>
        <a href="fontes/superformula/index.html">
        <p id="superformula" id="idname1" class="editabletxt" >Pizza&nbsp;Margahrita et Arancini alla Parmigiana</p>
        </a>
    </div>
</section>

<footer>
    <button onclick="topFunction()" id="upButton" title="Go to top">↑</button>
</footer>

<!-- script for dropdown menus-->
<script>
    var x, i, j, l, ll, selElmnt, a, b, c;
    /*look for any elements with the class "custom-select":*/
    x = document.getElementsByClassName("custom-select");
    l = x.length;
    for (i = 0; i < l; i++) {
      selElmnt = x[i].getElementsByTagName("select")[0];
      ll = selElmnt.length;
      /*for each element, create a new DIV that will act as the selected item:*/
      a = document.createElement("DIV");
      a.setAttribute("class", "select-selected");
      a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
      x[i].appendChild(a);
      /*for each element, create a new DIV that will contain the option list:*/
      b = document.createElement("DIV");
      b.setAttribute("class", "select-items select-hide");
      for (j = 1; j < ll; j++) {
        /*for each option in the original select element,
        create a new DIV that will act as an option item:*/
        c = document.createElement("DIV");
        c.innerHTML = selElmnt.options[j].innerHTML;
        c.addEventListener("click", function(e) {
            /*when an item is clicked, update the original select box,
            and the selected item:*/
            var y, i, k, s, h, sl, yl;
            s = this.parentNode.parentNode.getElementsByTagName("select")[0];
            sl = s.length;
            h = this.parentNode.previousSibling;
            for (i = 0; i < sl; i++) {
              if (s.options[i].innerHTML == this.innerHTML) {
                s.selectedIndex = i;
                h.innerHTML = this.innerHTML;
                y = this.parentNode.getElementsByClassName("same-as-selected");
                yl = y.length;
                for (k = 0; k < yl; k++) {
                  y[k].removeAttribute("class");
                }
                this.setAttribute("class", "same-as-selected");
                break;
              }
            }
            h.click();
        });
        b.appendChild(c);
      }
      x[i].appendChild(b);
      a.addEventListener("click", function(e) {
          /*when the select box is clicked, close any other select boxes,
          and open/close the current select box:*/
          e.stopPropagation();
          closeAllSelect(this);
          this.nextSibling.classList.toggle("select-hide");
          this.classList.toggle("select-arrow-active");
        });
    }
    function closeAllSelect(elmnt) {
      /*a function that will close all select boxes in the document,
      except the current select box:*/
      var x, y, i, xl, yl, arrNo = [];
      x = document.getElementsByClassName("select-items");
      y = document.getElementsByClassName("select-selected");
      xl = x.length;
      yl = y.length;
      for (i = 0; i < yl; i++) {
        if (elmnt == y[i]) {
          arrNo.push(i)
        } else {
          y[i].classList.remove("select-arrow-active");
        }
      }
      for (i = 0; i < xl; i++) {
        if (arrNo.indexOf(i)) {
          x[i].classList.add("select-hide");
        }
      }
    }
    /*if the user clicks anywhere outside the select box,
    then close all select boxes:*/
    document.addEventListener("click", closeAllSelect);
    </script>

<!--Script for button scroll to top-->

<script>
    // Get the button
    let mybutton = document.getElementById("upButton");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
</body>
</html>